@model HomeHunter.Models.ViewModels.RealEstate.CreateRealEstateViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="paddingElement col-md-5 col-md-offset-3">
        <br />
        <h4>Информация за имота</h4>
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RealEstateTypes" class="control-label"></label>
                <div>
                    <select class="form-group border-primary mb-0">
                        @foreach (var realEstateType in Model.RealEstateTypes)
                        {
                            <option>@realEstateType.TypeName</option>
                        }
                    </select>
                </div>
                <span asp-validation-for="RealEstateTypes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Area" class="control-label"></label>
                <input asp-for="Area" class="form-control" />
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cities" class="control-label"></label>
                <div>
                    <select class="form-group border-primary mb-0">
                        @foreach (var city in Model.Cities)
                        {
                            <option>@city.Name</option>
                        }
                    </select>
                </div>
                <span asp-validation-for="Cities" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <textarea asp-for="Address" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuildingTypes" class="control-label"></label>
                <div>
                    <select class="form-group border-primary mb-0">
                        <option>N/A</option>
                        @foreach (var buildingType in Model.BuildingTypes)
                        {
                            <option>@buildingType.Name</option>
                        }
                    </select>
                </div>
                <span asp-validation-for="BuildingTypes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeatingSystems" class="control-label"></label>
                <div>
                    <select class="form-group border-primary mb-0">
                        <option>N/A</option>
                        @foreach (var heatingSystem in Model.HeatingSystems)
                        {
                            <option>@heatingSystem.Name</option>
                        }
                    </select>
                </div>
                <span asp-validation-for="HeatingSystems" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FloorNumber" class="control-label"></label>
                <input asp-for="FloorNumber" class="form-control" />
                <span asp-validation-for="FloorNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuildingTotalFloors" class="control-label"></label>
                <input asp-for="BuildingTotalFloors" class="form-control" />
                <span asp-validation-for="BuildingTotalFloors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParkingPlace" class="control-label"></label>
                <input asp-for="ParkingPlace" class="form-control" />
                <span asp-validation-for="ParkingPlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Yard" class="control-label"></label>
                <input asp-for="Yard" class="form-control" />
                <span asp-validation-for="Yard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetroNearBy" class="control-label"></label>
                <input asp-for="MetroNearBy" class="form-control" />
                <span asp-validation-for="MetroNearBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Balcony" class="control-label"></label>
                <input asp-for="Balcony" class="form-control" />
                <span asp-validation-for="Balcony" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CellingOrBasement" class="control-label"></label>
                <input asp-for="CellingOrBasement" class="form-control" />
                <span asp-validation-for="CellingOrBasement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <p>Полетата със * са задължителни!</p>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

