@model HomeHunter.Models.BindingModels.Image.ImageUploadEditBindingModel
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Razor.TagHelpers;
@using HomeHunter.Common
@addTagHelper *, HomeHunter.App;

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";


}
<link rel="stylesheet" href="~/lib/assets/modal_images.css">
<link rel="stylesheet" href="~/lib/assets/upload_image.css">

<div class="row" style="padding-top:30px">
    <div class="container paddingElement">
        <div class="row text-center">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="alert alert-danger alert-dismissible fade in text-center" role="alert">
                            Внимание, добавянето на нови снимки ще изтрие вече записаните такива!
                            <button type="button" class="close-h" style="font-size:30px; padding-right:30px" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
                @if (!ViewData.ModelState.IsValid)
                {<div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="alert alert-danger alert-dismissible fade in text-center" role="alert">
                                <strong>@ViewData["ErrorMessage"]</strong>
                                <button type="button" class="close-h" style="font-size:30px; padding-right:30px" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <h4>Вече качени снимки</h4>
            <vc:load-images real-estate-id=@Model.RealEstateId></vc:load-images>
        </div>

        <br />
        <br />
        <h4 style="text-align:center">Презапиши снимки</h4>
        <div class="row">
            <form method="post" class="wrapper overflow-y-auto" enctype="multipart/form-data">
                <div class="sm-upl-box">
                    <div class="sm-js--image-preview"></div>
                    <div class="sm-upload-options">
                        <label>
                            <input type="file" asp-for="Images" class="image-upload" accept="image/*" />
                        </label>
                    </div>
                </div>

                <div class="sm-upl-box">
                    <div class="sm-js--image-preview"></div>
                    <div class="sm-upload-options">
                        <label>
                            <input type="file" asp-for="Images" class="image-upload" accept="image/*" />
                        </label>
                    </div>
                </div>

                <div class="sm-upl-box">
                    <div class="sm-js--image-preview"></div>
                    <div class="sm-upload-options">
                        <label>
                            <input type="file" asp-for="Images" class="image-upload" accept="image/*" />
                        </label>
                    </div>
                </div>
                <div class="sm-upl-box">
                    <div class="sm-js--image-preview"></div>
                    <div class="sm-upload-options">
                        <label>
                            <input type="file" asp-for="Images" class="image-upload" accept="image/*" />
                        </label>
                    </div>
                </div>
                <div class="sm-upl-box">
                    <div class="sm-js--image-preview"></div>
                    <div class="sm-upload-options">
                        <label>
                            <input type="file" asp-for="Images" class="image-upload" accept="image/*" />
                        </label>
                    </div>
                </div>
                <div class="sm-upl-box">
                    <div class="sm-js--image-preview"></div>
                    <div class="sm-upload-options">
                        <label>
                            <input type="file" asp-for="Images" class="image-upload" accept="image/*" />
                        </label>
                    </div>
                </div>
                <div class="sm-upl-box">
                    <div class="sm-js--image-preview"></div>
                    <div class="sm-upload-options">
                        <label>
                            <input type="file" asp-for="Images" class="image-upload" accept="image/*" />
                        </label>
                    </div>
                </div>
                <div class="sm-upl-box">
                    <div class="sm-js--image-preview"></div>
                    <div class="sm-upload-options">
                        <label>
                            <input type="file" asp-for="Images" class="image-upload" accept="image/*" />
                        </label>
                    </div>
                </div>
                <div class="sm-upl-box">
                    <div class="sm-js--image-preview"></div>
                    <div class="sm-upload-options">
                        <label>
                            <input type="file" asp-for="Images" class="image-upload" accept="image/*" />
                        </label>
                    </div>
                </div>
                <div class="sm-upl-box">
                    <div class="sm-js--image-preview"></div>
                    <div class="sm-upload-options">
                        <label>
                            <input type="file" asp-for="Images" class="image-upload" accept="image/*" />
                        </label>
                    </div>
                </div>
                <div class="sm-upl-box">
                    <div class="sm-js--image-preview"></div>
                    <div class="sm-upload-options">
                        <label>
                            <input type="file" asp-for="Images" class="image-upload" accept="image/*" />
                        </label>
                    </div>
                </div>
                <div class="sm-upl-box">
                    <div class="sm-js--image-preview"></div>
                    <div class="sm-upload-options">
                        <label>
                            <input type="file" asp-for="Images" class="image-upload" accept="image/*" />
                        </label>
                    </div>
                </div>
                <br />
                <div class="offset-md-2" style="padding-top:30px">
                    <input type="submit" value="Продължи" class="btn btn-blue-h" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{

    <script src="~/lib/assets/modal_images.js" asp-append-version="true"></script>

    <script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script>

    <script src="~/js/small-image-upload.js" asp-append-version="true"></script>
    <script src="~/js/image_upload_error_message.js" asp-append-version="true"></script>
}



