@using Microsoft.AspNetCore.Identity
@using HomeHunter.Domain
@inject UserManager<HomeHunterUser> UserManager


@{
//ViewData["Title"] = "Register";
//Task<bool> isVerifiedEmail = UserManager.IsEmailConfirmedAsync();

}
@*@if (isVerifiedEmail == null)
{
    <div class="alert alert-warning" role="alert">
        A simple warning alert—check it out!
    </div>
}*@
